<div>
  <% @user_stocks.each do |stock| %>

    <div class='well'>
    
      <strong>Corporation Name:</strong> <%= stock.name %>,
      <br /><strong>Ticker Symbol:</strong> <%= stock.ticker %>
      <br /><strong>Last Closing Price:</strong> <%= stock.last_price %>

      <% if @user.id == current_user.id %>
        <%= link_to 'delete', user_stock_path(stock), 
              method: :delete,
              data: { confirm: 'Are you sure?' }, 
              class: 'btn btn-xs btn-danger' 
        %>
      <% end %>
    </div>
  <% end %>
</div>