<% if @friendships.any? %>

  <h1>My Friends</h1>

  <% @friendships.each do |friend| %>
    <div class='well'>
      <%= content_tag :div, friend.full_name %>
      <%= content_tag :div, friend.email %>
      <%= link_to "view profile", user_path(friend), class: 'btn btn-primary btn-xs' %>
      <%= link_to 'remove friend',  friendship_path(friend),
                                    method: :delete,
                                    data: { confirm: 'Are you sure?'},
                                    class: 'btn btn-xs btn-danger' 
      %>
  <% end %>

<% else %>
  <div class='row col-lg-12'>
    <p>No friends yet! Add some!</p>
  </div>
<% end %>